
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 30px;
}

.text {
	font-family: chinese-rocks, sans-serif;
	font-weight: 400;
    font-style: normal;
    font size: 60px;
    text-align: center;

}

.one {
	background-color: crimson;

}

.two {
	background-color: #f3b63f;
}

.three {
	
}